
/* MOBILE */
*{
    font-family: libre baskerville,Georgia,serif;
    color: #494C4E;
}

body{
  border: 5px solid #494C4E;
  padding: 3.5px;
}


header{
    display: flex;
    border: 5px solid #494C4E;
    width: 60px;
    height: 55px;
    text-align: center;
    font-size: 20px; 
    margin-top: 5%;
    margin-bottom: 50%;
    margin-right: auto;
    margin-left: auto;
}


img{
    margin-bottom: 15%;
    height: 50px;
    width: 50px;
}

#linkContain{
    display: inline-block;
}

div{
    width: 100%;
}

.about, .projects{
    font-size: 16px;
    display: flex;   
    /* margin-top: 5%; */
    width: 100%;
}

.line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #494C4E;
    margin: 1em 0;
    padding: 0;
    margin-top: 20%;
    margin-bottom: 20%;
}

.contact-info{
    font-size: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

p{
    line-height: 1.9;
    text-align: left;
    margin-bottom: 15%;
}


ul{
    background-color:rgb(158, 158, 158);
}

#nbaPic{
    display: flex; 
    width: 170px;
    height: 100px;
}

#mac{
      display: flex; 
      width: 265px;
      height: 90px;
      margin-right: auto;
      margin-left: auto;
}

h2, h3, h4{
    text-align: left;
    margin-top: 1px;
}

h1{
    font-size: 30px;
    line-height: 1.5em;
    margin-bottom: 20%;
    text-align: center;
}

h2{
    font-size: 17px;
}

h3{
font-size: 15px;
color: #F6AC00;
}

span{
    color: #F6AC00;
}


.pic{
    display: inline-block;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 30px;
}



/* DESKTOP */
@media only screen and (min-width: 600px) {
  div{
      display: inline-block;
      width: 32%;
      height: 150px;
  }
  
  body{
      /* margin-top: 10%; */
  }

  header{
      margin-bottom: 10%;
  }

  h1{
      margin-bottom: 10%;
      margin-left: 25%;
      margin-right: 25%;
  }

  #linkContain{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between; 
    align-content:flex-end; 
    margin-left: auto;
    margin-right: auto;

}

 #mac{
     display: flex;  
     margin-left: auto;
     margin-right: auto;
     width: 1200px;
     height: 435px;
     margin-bottom: 5%;
}

h2, h3{
    margin-left: 23%;
    margin-top: 150px;
}

div{
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

p{
    margin-left: 400px;
    margin-right: 400px;
}

.line{
    margin-top: 1%;
    margin-bottom: 1%;
}

}